<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Morls Joblist App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label fixed>Search Job Title</ion-label>
    <ion-input type="text" [(ngModel)]="search" (keyup)="getSearch()"></ion-input>
  </ion-item>
  
  <div *ngIf="jobs">
      <ion-list *ngFor="let job of jobs">
        <ion-card>
        <ion-card-header>
         <p>{{job.jobtitle}}</p>
         <p> {{job.company}} - <strong>{{job.city}}</strong></p>
         
        </ion-card-header>
        <ion-card-content>
         

          <p>@{{job.formattedRelativeTime}}</p>
          <ion-item>
            <a href="{{job.url}}"><button ion-button color="danger" round >Apply Now</button></a>
            
            <button ion-button color="primary" round (click)="clickJob(job)">View More</button>
          </ion-item>
        </ion-card-content>
        
      </ion-card>
       
      </ion-list>
  </div>
</ion-content>
