<ion-header>
  <ion-navbar>
    <ion-title text-center>Pinoy Job List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label fixed>Search Job Title</ion-label>
    <ion-input type="text" [(ngModel)]="search" (keyup)="getSearch()"></ion-input>
  </ion-item>
  
  <div *ngIf="jobs">
      <ion-list *ngFor="let job of jobs">
        <ion-card>
        <ion-card-header>
         {{job.jobtitle}}
         <p> {{job.company}} - {{job.city}}</p>
         
        </ion-card-header>
        <ion-card-content>
          {{job.snippet}}

          <p>@{{job.formattedRelativeTime}}</p>
        </ion-card-content>
        
      </ion-card>
       
      </ion-list>
  </div>
</ion-content>
